@use '../variables/variables' as *;
@use '../mixins/media' as *;

.menu {
    margin: auto;
    z-index: $z-header;

}

@include media ($sm) {

    .menu__icon {
        z-index: $menu-icon;
        order: 3;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;

        & span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: white;
        }

        &::before,
        &::after {
            content: "";
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
        }

        &._active span {
            top: 50%;
            transform: scale(0) translate(0px, -50%);
        }

        &._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        &._active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);

        }

    }

}