@use '../variables/variables' as *;
@use '../mixins/media' as *;

.socials {
    max-width: 160px;
    justify-content: space-between;
    gap: 20px;
    z-index: $z-header;

    &__icon {
        width: 40px;
        height: 40px;
        fill: transparent;

    }

}

@include media ($sm) {
    .socials {
        order: 2;
        margin: 0 auto;
        gap: 10px;
    }

}

@include media ($mob) {
    .socials {
        display: none;

    }

}